@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Bold.ttf) format(ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf) format(ttf);
  font-weight: 400;
}

:root{
  --font-primary: Roboto, sans-serif;
  
  --color-Red: hsl(4, 100%, 67%);
  --color-Blue-800: hsl(234, 29%, 20%);
  --color-Blue-700: hsl(235, 18%, 26%);
  --color-Grey: hsl(0, 0%,58%);
  --color-White: hsl(0, 0%, 100%);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-primary);
}