@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Bold.ttf) format(ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf) format(ttf);
  font-weight: 400;
}

:root {
  --font-primary: Roboto, sans-serif;
  
  --color-Red: hsl(4, 100%, 67%);
  --color-Blue-800: hsl(234, 29%, 20%);
  --color-Blue-700: hsl(235, 18%, 26%);
  --color-Grey: hsl(0, 0%, 58%);
  --color-White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--color-Blue-700);
  font-weight: 500;
}

.article {
  max-width: 700px;
  width: 100%;
}

.article__img {
  width: 100%;
  height: 100%;
}

.article__content {
  padding: 0 1.9rem 2rem;
}

.article__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-Blue-800);
}

.container__list ul {
  padding: 0;
}

.container__list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
}

.container__list ul li img {
  
}

.article__footer {
  margin-top: 2rem;
}

.label__email {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

.input__email {
  width: 100%;
  padding: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-Grey);
  margin-bottom: 1.5rem;
}

.form__button {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-Blue-700);
  color: var(--color-White);
  font-weight: 700;
}






.container__suscribe {
  display: none;
  padding: 0 1.5rem;
  margin: 9rem 0 1rem;
}

.container__suscribe img {
  width: 3.7rem;
  height: 3.7rem;
  margin-bottom: 2rem;
}

.suscribe__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--color-Blue-800);
  line-height: 1;
}

.suscribe__description {
  line-height: 1.4;
}

.suscribe__button {
  width: 100%;
  border: none;
  padding: 1.2rem 0;
  font-weight: 700;
  background-color: var(--color-Blue-800);
  color: var(--color-White);
  border-radius: 0.5rem;
  margin-top: 20rem;
}