@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-primary: Roboto, sans-serif;
  
  --color-Red: hsl(4, 100%, 67%);
  --color-Blue-800: hsl(234, 29%, 20%);
  --color-Blue-700: hsl(235, 18%, 26%);
  --color-Grey: hsl(0, 0%, 58%);
  --color-White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--color-Blue-700);
  font-weight: 500;
  color: var(--color-Blue-800);
}

.article {
  max-width: 700px;
  width: 100%;
}

.article__img {
  width: 100%;
  height: 100%;
}

.article__content {
  padding: 0 1.9rem 2rem;
}

.article__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-Blue-800);
}

.container__list ul {
  padding: 0;
}

.container__list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
}

.article__footer {
  margin-top: 2rem;
}

.label__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error__message {
  font-size: 0.8rem;
  color: var(--color-Red);
  font-weight: 500;
  display: none;
}

.label__email {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

.input__email {
  width: 100%;
  padding: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-Grey);
  margin-bottom: 1.5rem;
}

.input__email--error::placeholder {
  color: var(--color-Red);
}

.input__email--error {
  border: 1px solid var(--color-Red);
  background-color: hsla(4, 100%, 93%, 1.00);
}

.form__button {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-Blue-700);
  color: var(--color-White);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.form__button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(4, 100%, 57%));
}

.is-hidden {
  display: none;
}



.container__suscribe {
  display: none;
  padding: 0 1.5rem;
  height: 100vh;
  justify-content: center;
}

.is-visible {
  display: flex;
  flex-direction: column;
}

.container__suscribe img {
  width: 3.7rem;
  height: 3.7rem;
  margin-bottom: 2rem;
}

.suscribe__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--color-Blue-800);
  line-height: 1;
}

.suscribe__description {
  line-height: 1.4;
}

.suscribe__email {
  font-weight: 700;
  color: var(--color-Blue-700);
}

.suscribe__button {
  width: 100%;
  border: none;
  padding: 1.2rem 0;
  font-weight: 700;
  background-color: var(--color-Blue-800);
  color: var(--color-White);
  border-radius: 0.5rem;
  margin-top: 20rem;
  transition: all 0.3s ease-in-out;
}

.suscribe__button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(4, 100%, 57%));
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-Blue-800);
  }

  .article {
    display: flex;
    flex-direction: row-reverse;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--color-White);
    padding: 1rem;
  }

  .article__img {
    width: auto;
    height: auto;
  }

  .article__content {
    padding: 2.5rem 3rem;
  }

  .container__suscribe {
    background-color: var(--color-White);
    width: 450px;
    height: auto;
    padding: 3rem;
    border-radius: 2rem;
  }

  .suscribe__button {
    margin-top: 1rem;
  }
}